/.idea
.DS_Store
/build
/docs/source/examples/network_model/out
/src/public_transportation.egg-info
/src/public_transportation/__pycache__
/src/public_transportation/assignment/__pycache__
/src/public_transportation/domain/__pycache__
/src/public_transportation/viz/__pycache__
/tests/__pycache__
/tests/assignment/__pycache__
/tests/domain/__pycache__
/src/public_transportation/bayesian_estimation_old/__pycache__
/src/public_transportation/inference/__pycache__
/src/public_transportation/measurement/__pycache__
/src/public_transportation/measurement/mapping/__pycache__
*.aux
*.dvi
*.fdb_latexmk
*.fls
docs/reports/count_data.log
docs/reports/count_data.out
*.ps
*.bbl
*.blg
docs/reports/traffic_assignment.log
docs/reports/traffic_assignment.out
src/public_transportation/bayesian_estimation.zip
/archives/bayesian_estimation_old
src/public_transportation/estimation/bayesian/__pycache__/__init__.cpython-312.pyc
*.pyc
/docs/source/examples/simple_example_02_old
docs/source/examples/simple_example_02/estimation/results/compare_vi_ml_od_theta_results.npz
/docs/source/examples/simple_example_02/pre_processing/results
/docs/source/examples/simple_example_02/post_processing/results
